body {
    font-family: 'Work Sans', sans-serif;
}

.round {
    border-radius: 3px;
    border-color: rgb(61, 61, 153);
}

.height {
    min-height: 100vh;
}

.title-underline {
    width: 200px;
    height: 10px; 
    margin: 0 auto;

}

.height-80 {
    min-height: 80vh;
}